* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@media (max-width: 375px) {
    * {
    font-size: medium;
    box-sizing: border-box;
    }
  }
  
body {
    background-color: white;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif

  }

section, .list-group-item {
  background-color: #ffe7e5;

}

h5, h6, h2, address, strong, i, div .btn {
  color: #3c4358;
}

.placeholder, textarea {
  color: #3c4358;
}

p {
  color: #3c4358;
  font-size: 15px;
}

h3 {
  text-align: center;
  color: #3c4358;
  padding-bottom: 2%;
}

.drk:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity:0.3;
  }

.card{
  background-color: #ffe7e5;
  border: 0px;
  height: 100%;
}

.container {
  padding-top: 4%;
  padding-bottom: 4%;

}

/*a
a:visited { ... }
a:focus { ... }
a:hover { ... }
a:active { ... } */

.button {
  background-color: #ffe7e5;
  border: 2px solid #fc432e;
  border-radius: 2px;
  color: #fc432e;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: absolute;
  transition-duration: 0.3s;
  cursor: pointer;  
  font-style: bold;
  position: justify;
}

/* visited link */
.button:visited {
  background-color: #ffe7e5; 
  color: #fc432e; 
  border: 2px solid #fc432e;
  border-radius: none;
}

/* mouse over link */
.button:hover {
  background-color: #fc432e;
  color: #ffe7e5;
  border-radius: none;
  text-decoration: none;

}

/* selected link */
.button:focus {
  background-color: white; 
  text-decoration: none;

}

.carousel-caption  {
  padding-top: 50px;
  padding-bottom: 5px;
  text-align: left;
  color: white;
  font-size: 30px;
}

@media (max-width: 375px) {
  div.carousel-caption {
    font-size: small;
    text-align: left, center;
  }
}


.footer-bottom {
  background-color: #ebebeb;
  padding: 2%;
  
}

.fab {
  font-size: 10;
  line-height: 10px;
}

#t1 {
  tab-size: 10px;
}

div.a {
  text-indent: 1vw;
}

#button {
  align-self: baseline;
}

.img-fluid {
  max-width: 100%; and height: auto;
} 
