* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif
  }

  #cf {
    position:relative;
    height: 281px;
    width: 450px;
  }
  